<p-breadcrumb
  [model]="items"
  [home]="home"
  (onItemClick)="onclickBreadCrumb($event)"
></p-breadcrumb>

<p-treeTable [value]="treeData">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Type</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode">
      <td>
        {{ rowData.label }}
      </td>
      <td>{{ rowData.size }}</td>
      <td>{{ rowData.type }}</td>
    </tr>
  </ng-template>
</p-treeTable>
