<div class="card">
  <div class="card-container yellow-container overflow-hidden">
    <div class="flex">
      <div class="flex font-bold text-gray-900 border-round">
        <app-file-structure
          (shareData)="nodeChange($event)"
          (shareDataTree)="treeLazyLoadData($event)"
        ></app-file-structure>
      </div>
      <div
        class="
          flex
          align-items-center
          justify-content-center
          font-bold
          text-gray-900
          border-round
        "
      >
        <app-table-structure
          [nodeChanges]="nodeChanges"
          [items]="items"
          [treeData]="treeData"
        ></app-table-structure>
      </div>
    </div>
  </div>
</div>
